.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90px;
}

.features a {
  text-decoration: none;
}

.features > div > div > div {
  background: #141619;
  margin-right: 24px;
  border: 1px solid #2e333a;
  border-radius: 16px;
}

.features > div > div > div:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #141619;
  border-color: #00e676;
}

[data-theme='light'] .features a {
  color: #04111d;
}

[data-theme='light'] .features > div > div > div {
  background: #ffffff;
  margin-right: 24px;
  border: 1px solid #e5e8eb;
  border-radius: 16px;
}

[data-theme='light'] .features > div > div > div:hover {
  background: linear-gradient(0deg, rgba(4, 17, 29, 0.08), rgba(4, 17, 29, 0.08)), #ffffff;
  border-color: #00ab58;
}
